*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: #c5e4e7;
  font-family: "Space Mono", monospace;
  font-weight: 700;
}

html,
body {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.086rem;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.header__logo {
  display: block;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  border-radius: 2.5rem 2.5rem 0 0;
  background: #fff;
  box-shadow: 0 3.2rem 4.3rem 0 rgba(79, 166, 175, 0.2);
  padding: 3.2rem 0;
  max-width: 37.5rem;
}

.inputs {
  padding: 0 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.input__label-error {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input__label {
  color: #5e7a7d;
  font-size: clamp(1.3rem, 1.3rem + 0.0545454545 * (100vw - 32rem), 1.6rem);
}
.input__error {
  color: #e17457;
  font-size: 1.2rem;
}
.input__container {
  position: relative;
}
.input__icon {
  display: block;
  position: absolute;
  top: 1.687rem;
  left: 1.926rem;
}
.input__element {
  width: 100%;
  height: 4.8rem;
  border-radius: 0.5rem;
  background: #f3f9fa;
  border: 0.2rem solid transparent;
  text-align: right;
  padding-right: 1.7rem;
  color: #00474b;
  font-family: inherit;
  font-size: 2.4rem;
  font-weight: inherit;
  caret-color: #26c2ae;
}
.input__element::-moz-placeholder {
  color: rgba(0, 71, 75, 0.35);
}
.input__element::placeholder {
  color: rgba(0, 71, 75, 0.35);
}
.input__element:focus {
  outline: none;
}

.tips {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.tips__select-tip {
  color: #5e7a7d;
  font-size: clamp(1.3rem, 1.3rem + 0.0545454545 * (100vw - 32rem), 1.6rem);
}
.tips__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem 1.656rem;
}
.tips__tip {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.8rem;
  border-radius: 0.5rem;
  background: #00474b;
  color: #fff;
  font-size: 2.4rem;
}
.tips__custom-tip-error {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.tips__custom-tip {
  width: 100%;
  height: 4.8rem;
  border-radius: 0.5rem;
  background: #f3f9fa;
  border: 0.2rem solid transparent;
  text-align: right;
  padding-right: 1.7rem;
  color: #00474b;
  font-family: inherit;
  font-size: 2.4rem;
  font-weight: inherit;
  caret-color: #26c2ae;
  padding-right: clamp(1.5rem, 1.5rem + 0.0363636364 * (100vw - 32rem), 1.7rem);
}
.tips__custom-tip::-moz-placeholder {
  color: #547878;
}
.tips__custom-tip::placeholder {
  color: #547878;
}
.tips__custom-tip:focus {
  outline: none;
}
.tips__error {
  margin-left: auto;
  color: #e17457;
  font-size: 1.2rem;
}

.calculate {
  padding: 0 2.4rem;
}
.calculate__container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 3.7rem 2.2rem 2.4rem 2.4rem;
  border-radius: 1.5rem;
  background: #00474b;
}
.calculate__labels {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.calculate__labels-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calculate__label-sublabel {
  display: flex;
  flex-direction: column;
  margin-right: 2.4rem;
}
.calculate__label {
  color: #fff;
  font-size: 1.6rem;
}
.calculate__sublabel {
  color: #7f9d9f;
  font-size: 1.3rem;
}
.calculate__value {
  color: #26c2ae;
  font-size: 3.2rem;
  letter-spacing: -0.0667rem;
}
.calculate__reset-btn {
  height: 4.8rem;
  border-radius: 0.5rem;
  background: #0d686d;
  border: none;
  color: #00474b;
  font-family: inherit;
  font-size: 2rem;
  font-weight: inherit;
  text-transform: uppercase;
  transition: transform 0.3s ease;
}
.calculate__reset-btn:focus {
  outline: none;
}
.calculate__reset-btn:focus-visible {
  outline: 0.2rem solid #fff;
}
.calculate__reset-btn:active {
  transform: translateY(0.2rem);
}

@media only screen and (max-width: 23.4375em) {
  .calculate__value {
    font-size: 2.6rem;
  }
}
@media only screen and (min-width: 48em) {
  .container {
    gap: clamp(4.086rem, 4.086rem + 47 * (100vw - 76.8rem) / 672, 8.786rem);
    padding-bottom: clamp(5rem, 5rem + 113 * (100vw - 76.8rem) / 672, 16.3rem);
  }
  .header {
    padding-top: clamp(5rem, 5rem + 113 * (100vw - 76.8rem) / 672, 16.3rem);
  }
  .app {
    flex-direction: row;
    max-width: initial;
    width: clamp(70rem, 70rem + 220 * (100vw - 76.8rem) / 672, 92rem);
    padding: 0;
    border-radius: 2.5rem;
    gap: clamp(3.2rem, 3.2rem + 16 * (100vw - 76.8rem) / 672, 4.8rem);
  }
  .inputs {
    padding: clamp(3.2rem, 3.2rem + 13 * (100vw - 76.8rem) / 672, 4.5rem) 0 clamp(3.2rem, 3.2rem + 16 * (100vw - 76.8rem) / 672, 4.8rem) clamp(3.2rem, 3.2rem + 16 * (100vw - 76.8rem) / 672, 4.8rem);
    max-width: 42.7rem;
    flex: 1;
    gap: clamp(3.2rem, 3.2rem + 8 * (100vw - 76.8rem) / 672, 4rem);
  }
  .input__error {
    font-size: clamp(1.2rem, 1.2rem + 4 * (100vw - 76.8rem) / 672, 1.6rem);
  }
  .tips__error {
    font-size: clamp(1.2rem, 1.2rem + 4 * (100vw - 76.8rem) / 672, 1.6rem);
  }
  .calculate {
    padding: 3.2rem 3.2rem 3.2rem 0;
    flex: 1;
  }
  .calculate__container {
    height: 100%;
    gap: initial;
    justify-content: space-between;
    padding: 4rem clamp(2.2rem, 2.2rem + 18 * (100vw - 76.8rem) / 672, 4rem) 4rem clamp(2.4rem, 2.4rem + 16 * (100vw - 76.8rem) / 672, 4rem);
    max-width: 41.3rem;
  }
  .calculate__labels {
    gap: 2.5rem;
  }
  .calculate__value {
    font-size: clamp(3rem, 3rem + 12 * (100vw - 76.8rem) / 672, 4.2rem);
    letter-spacing: clamp(-0.1rem, -0.0667rem + -0.333 * (100vw - 76.8rem) / 672, -0.0667rem);
  }
}
@media only screen and (min-width: 90em) {
  .tips__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem 1.4rem;
  }
  .tips__custom-tip {
    padding-right: 1.5rem;
  }
}
@media only screen and (min-width: 62em) {
  .input__container:hover {
    cursor: pointer;
  }
  .input__container:hover * {
    cursor: inherit;
  }
  .tips__tip:hover {
    cursor: pointer;
    background: #9fe8df;
    color: #00474b;
  }
  .tips__custom-tip:hover {
    cursor: pointer;
  }
}
.hovered {
  cursor: pointer;
  background: #9fe8df !important;
}

.focused {
  border: 0.2rem solid #26c2ae;
}

.error {
  border: 0.2rem solid #e17052;
}

.bg-topaz {
  background: #26c2ae;
}

.selected {
  background: #26c2ae !important;
  color: #00474b !important;
}

.larger-font {
  font-size: clamp(3.2rem, 3.2rem + 16 * (100vw - 76.8rem) / 672, 4.8rem);
}

.responsive-margin-right {
  margin-right: clamp(2.4rem, 2.4rem + 16 * (100vw - 76.8rem) / 672, 4rem);
}/*# sourceMappingURL=main.css.map */