// ********* DESIGN SYSTEM *********

// ************ COLORS ************
$color-jagged-ice: #c5e4e7;
$color-white: #fff;
$color-greyish-turquoise: #5e7a7d;
$color-black-squeeze: #f3f9fa;
$color-sherpa-blue: #00474b;
$color-sherpa-blue-35-percent: rgba(0, 71, 75, 0.35);
$color-topaz: #26c2ae;
$color-beetle-green: #547878;
$color-regent-grey: #7f9d9f;
$color-dark-aqua: #0d686d;
$color-water-leaf: #9fe8df;
$color-terra-cotta: #e17457;
$color-sunrise-orange: #e17052;

// ********** FONT-FAMILY **********
$font-space-mono: "Space Mono", monospace;

// ********* FONT-WEIGHTS *********
$fw-700: 700;

// ************* BASE *************
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: $color-jagged-ice;
  font-family: $font-space-mono;
  font-weight: $fw-700;
}

html,
body {
  height: 100%;
}

// ************ MIXINS ************
@mixin input-styles {
  width: 100%;
  height: 4.8rem;
  border-radius: 0.5rem;
  background: $color-black-squeeze;
  border: 0.2rem solid transparent;
  text-align: right;
  padding-right: 1.7rem;
  color: $color-sherpa-blue;
  font-family: inherit;
  font-size: 2.4rem;
  font-weight: inherit;
  caret-color: $color-topaz;
}

@mixin input-error-styles {
  color: $color-terra-cotta;
  font-size: 1.2rem;
}

@mixin input-error-container-styles {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

// *********** VARIABLES ***********
$calculate-container-padding-right: clamp(
  2.2rem,
  calc(2.2rem + (40 - 22) * ((100vw - 76.8rem) / (1440 - 768))),
  4rem
);

$calculate-container-padding-left: clamp(
  2.4rem,
  calc(2.4rem + (40 - 24) * ((100vw - 76.8rem) / (1440 - 768))),
  4rem
);

$inputs-padding-top: clamp(
  3.2rem,
  calc(3.2rem + (45 - 32) * ((100vw - 76.8rem) / (1440 - 768))),
  4.5rem
);

$inputs-padding-bottom-left: clamp(
  3.2rem,
  calc(3.2rem + (48 - 32) * ((100vw - 76.8rem) / (1440 - 768))),
  4.8rem
);

// ******** MOBILE LAYOUTS ********

// ********* 375px LAYOUT *********
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.086rem;
}

// ************ HEADER ************
.header {
  display: flex;
  justify-content: center;
  padding-top: 5rem;

  &__logo {
    display: block;
  }
}

// ******** CALCULATOR APP ********
.app {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  border-radius: 2.5rem 2.5rem 0 0;
  background: $color-white;
  box-shadow: 0 3.2rem 4.3rem 0 rgba(79, 166, 175, 0.2);
  padding: 3.2rem 0;
  max-width: 37.5rem;
}

// ************ INPUTS ************
.inputs {
  padding: 0 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

// ************* INPUT *************
.input {
  @include input-error-container-styles;

  &__label-error {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__label {
    color: $color-greyish-turquoise;
    font-size: clamp(
      1.3rem,
      calc(1.3rem + (0.3rem / 5.5rem) * (100vw - 32rem)),
      1.6rem
    );
  }

  &__error {
    @include input-error-styles;
  }

  &__container {
    position: relative;
  }

  &__icon {
    display: block;
    position: absolute;
    top: 1.687rem;
    left: 1.926rem;
  }

  &__element {
    @include input-styles;

    &::placeholder {
      color: $color-sherpa-blue-35-percent;
    }

    &:focus {
      outline: none;
    }
  }
}

// ************* TIPS *************
.tips {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  &__select-tip {
    color: $color-greyish-turquoise;
    font-size: clamp(
      1.3rem,
      calc(1.3rem + (0.3rem / 5.5rem) * (100vw - 32rem)),
      1.6rem
    );
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem 1.656rem;
  }

  &__tip {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.8rem;
    border-radius: 0.5rem;
    background: $color-sherpa-blue;
    color: $color-white;
    font-size: 2.4rem;
  }

  &__custom-tip-error {
    @include input-error-container-styles;
  }

  &__custom-tip {
    @include input-styles;
    padding-right: clamp(
      1.5rem,
      calc(1.5rem + (0.2rem / 5.5rem) * (100vw - 32rem)),
      1.7rem
    );

    &::placeholder {
      color: $color-beetle-green;
    }

    &:focus {
      outline: none;
    }
  }

  &__error {
    margin-left: auto;
    @include input-error-styles;
  }
}

// *********** CALCULATE ***********
.calculate {
  padding: 0 2.4rem;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding: 3.7rem 2.2rem 2.4rem 2.4rem;
    border-radius: 1.5rem;
    background: $color-sherpa-blue;
  }

  &__labels {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__labels-value {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__label-sublabel {
    display: flex;
    flex-direction: column;
    margin-right: 2.4rem;
  }

  &__label {
    color: $color-white;
    font-size: 1.6rem;
  }

  &__sublabel {
    color: $color-regent-grey;
    font-size: 1.3rem;
  }

  &__value {
    color: $color-topaz;
    font-size: 3.2rem;
    letter-spacing: -0.0667rem;
  }

  &__reset-btn {
    height: 4.8rem;
    border-radius: 0.5rem;
    background: $color-dark-aqua;
    border: none;
    color: $color-sherpa-blue;
    font-family: inherit;
    font-size: 2rem;
    font-weight: inherit;
    text-transform: uppercase;
    transition: transform 0.3s ease;

    &:focus {
      outline: 0.2rem solid $color-white;
    }

    &:active {
      transform: translateY(0.2rem);
    }
  }
}

// ****** 320px - 374px LAYOUT ******
@media only screen and (max-width: 23.4375em) {
  // ********** CALCULATE **********
  .calculate {
    &__value {
      font-size: 2.6rem;
    }
  }
}

// ********* TABLET LAYOUT *********

// ********** 768px LAYOUT **********
@media only screen and (min-width: 48em) {
  .container {
    gap: clamp(
      4.086rem,
      calc(4.086rem + (87.86 - 40.86) * ((100vw - 76.8rem) / (1440 - 768))),
      8.786rem
    );
  }

  // ************ HEADER ************
  .header {
    padding-top: clamp(
      5rem,
      calc(5rem + (163 - 50) * ((100vw - 76.8rem) / (1440 - 768))),
      16.3rem
    );
  }

  // ******** CALCULATOR APP ********
  .app {
    flex-direction: row;
    max-width: initial;
    width: clamp(
      70rem,
      calc(70rem + (920 - 700) * ((100vw - 76.8rem) / (1440 - 768))),
      92rem
    );
    padding: 0;
    border-radius: 2.5rem;
    gap: clamp(
      3.2rem,
      calc(3.2rem + (48 - 32) * ((100vw - 76.8rem) / (1440 - 768))),
      4.8rem
    );
  }

  // ************ INPUTS ************
  .inputs {
    padding: $inputs-padding-top 0 $inputs-padding-bottom-left
      $inputs-padding-bottom-left;
    max-width: 42.7rem;
    flex: 1;
    gap: clamp(
      3.2rem,
      calc(3.2rem + (40 - 32) * ((100vw - 76.8rem) / (1440 - 768))),
      4rem
    );
  }

  // ********** CALCULATE **********
  .calculate {
    padding: 3.2rem 3.2rem 3.2rem 0;
    flex: 1;

    &__container {
      height: 100%;
      gap: initial;
      justify-content: space-between;
      padding: 4rem $calculate-container-padding-right 4rem
        $calculate-container-padding-left;
      max-width: 41.3rem;
    }

    &__labels {
      gap: 2.5rem;
    }

    &__value {
      font-size: clamp(
        3.2rem,
        calc(3.2rem + (48 - 32) * ((100vw - 76.8rem) / (1440 - 768))),
        4.8rem
      );
    }
  }
}

// ** CLASSES USED WITH JAVASCRIPT **
.focused {
  border: 0.2rem solid $color-topaz;
}

.error {
  border: 0.2rem solid $color-sunrise-orange;
}

.bg-topaz {
  background: $color-topaz;
}
