// ********* DESIGN SYSTEM *********

// ************ COLORS ************
$color-jagged-ice: #c5e4e7;
$color-white: #fff;
$color-greyish-turquoise: #5e7a7d;
$color-black-squeeze: #f3f9fa;
$color-sherpa-blue: #00474b;
$color-sherpa-blue-35-percent: rgba(0, 71, 75, 0.35);
$color-topaz: #26c2ae;
$color-beetle-green: #547878;
$color-regent-grey: #7f9d9f;
$color-dark-aqua: #0d686d;
$color-water-leaf: #9fe8df;
$color-terra-cotta: #e17457;
$color-sunrise-orange: #e17052;

// ********** FONT-FAMILY **********
$font-space-mono: "Space Mono", monospace;

// ********* FONT-WEIGHTS *********
$fw-700: 700;

// ************* BASE *************
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: $color-jagged-ice;
  font-family: $font-space-mono;
  font-weight: $fw-700;
}

html,
body {
  height: 100%;
}

// ************ MIXINS ************
@mixin input-styles {
  width: 100%;
  height: 4.8rem;
  border-radius: 0.5rem;
  background: $color-black-squeeze;
  border: 0.2rem solid transparent;
  text-align: right;
  padding-right: 1.7rem;
  color: $color-sherpa-blue;
  font-family: inherit;
  font-size: 2.4rem;
  font-weight: inherit;
  caret-color: $color-topaz;
}

// ******** MOBILE LAYOUTS ********

// ********* 375px LAYOUT *********
.container {
  display: flex;
  flex-direction: column;
  gap: 4.086rem;
}

// ************ HEADER ************
.header {
  display: flex;
  justify-content: center;
  padding-top: 5rem;

  &__logo {
    display: block;
  }
}

// ******** CALCULATOR APP ********
.app {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  border-radius: 2.5rem 2.5rem 0 0;
  background: $color-white;
  box-shadow: 0 3.2rem 4.3rem 0 rgba(79, 166, 175, 0.2);
  padding: 3.2rem 0;
}

// ************ INPUTS ************
.inputs {
  padding: 0 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

// ************* INPUT *************
.input {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  &__label-error {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__label {
    color: $color-greyish-turquoise;
    font-size: 1.6rem;
  }

  &__error {
    color: $color-terra-cotta;
    font-size: 1.2rem;
  }

  &__container {
    position: relative;
  }

  &__icon {
    display: block;
    position: absolute;
    top: 1.687rem;
    left: 1.926rem;
  }

  &__element {
    @include input-styles;

    &::placeholder {
      color: $color-sherpa-blue-35-percent;
    }

    &:focus {
      outline: none;
    }
  }
}

// ************* TIPS *************
.tips {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  &__select-tip {
    color: $color-greyish-turquoise;
    font-size: 1.6rem;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem 1.656rem;
  }

  &__tip {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.8rem;
    border-radius: 0.5rem;
    background: $color-sherpa-blue;
    color: $color-white;
    font-size: 2.4rem;
  }

  &__custom-tip {
    @include input-styles;

    &::placeholder {
      color: $color-beetle-green;
    }

    &:focus {
      outline: none;
      border: 0.2rem solid $color-topaz;
    }
  }
}

// *********** CALCULATE ***********
.calculate {
  padding: 0 2.4rem;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding: 3.7rem 2.2rem 2.4rem 2.4rem;
    border-radius: 1.5rem;
    background: $color-sherpa-blue;
  }

  &__labels {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__labels-value {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__label-sublabel {
    display: flex;
    flex-direction: column;
  }

  &__label {
    color: $color-white;
    font-size: 1.6rem;
  }

  &__sublabel {
    color: $color-regent-grey;
    font-size: 1.3rem;
  }

  &__value {
    color: $color-topaz;
    font-size: 3.2rem;
    letter-spacing: -0.0667rem;
  }

  &__reset-btn {
    height: 4.8rem;
    border-radius: 0.5rem;
    background: $color-topaz;
    border: none;
    color: $color-sherpa-blue;
    font-family: inherit;
    font-size: 2rem;
    font-weight: inherit;
    text-transform: uppercase;
  }
}

// ** CLASSES USED WITH JAVASCRIPT **

// ************* INPUT *************
.input {
  &__element--focused {
    border: 0.2rem solid $color-topaz;
  }

  &__element--error {
    border: 0.2rem solid $color-sunrise-orange;
  }
}

// ************** TIPS **************
.tips {
  &__tip--selected {
    background: $color-topaz;
  }
}
